<!DOCTYPE html>
<html ng-app="projectApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/datepicker/angular-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/jquery-3.5.1.js"></script>

    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body ng-controller="outerCtrl">
    <div class="navbar navbar-light bg-warning navbar-expand-sm fixed-top">
        <div class="container">
           <img src="~/Pictures/employee_ajax_gif.jpg" class="rounded-circle" width="70" />
            @Html.ActionLink("Online Job Site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="nbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item"><a class="nav-link" ng-href="#!/onlinejobsites">Online Job Site</a></li>
                    <li class="nav-item"><a class="nav-link" ng-href="#!/createOnlineJobSite">Create 3 in 1</a></li>
                    <li class="nav-item"><a class="nav-link" ng-href="#!/createRegister">Create 1 only 1</a></li>
                    

                </ul>
            </div>
        </div>
    </div>
    <section class="bg-image" style="background-image: url('../../Pictures/job3.jpg'); lighting-color:aqua;">
        <div class="container body-content">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - 1255708</p>
        </footer>
        </section>
        <div class="modal" tabindex="-1" role="dialog" id="delCompanyModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Delete!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete?</p>
                        <div class="text-danger">This OnlineJob Site and its advertisements & registered applicant will be deleted?</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" ng-click="doDeleteCompany()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="modal" tabindex="-1" role="dialog" id="delServiceModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Delete!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete?</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" ng-click="doDeleteService()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-animate.js"></script>
        <script src="~/Scripts/angular-aria.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/Scripts/angular-messages.js"></script>
        <script src="~/Content/datepicker/angular-datepicker.js"></script>
        <script src="~/Content/ui-bootstrap/ui-bootstrap.js"></script>
        <script src="~/Content/ui-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/Scripts/angular-sanitize.js"></script>

        <script>
            angular.module("projectApp", ['ngRoute', 'ngMessages', 'ngSanitize', 'ngAnimate', "ui.bootstrap"])
                .constant("apiUrl", "/api/")
                .constant("customUrl", "/custom/")
                .config(($routeProvider) => {
                    $routeProvider
                        .when("/home", {
                            templateUrl: "/App/Views/home.html"
                        })
                        .when("/onlinejobsites", {
                            templateUrl: "/App/Views/onlinejobsites.html"
                        })
                        .when("/createOnlineJobSite", {
                            templateUrl: "/App/Views/createOnlineJobSite.html"
                        })
                        .when("/editOnlineJobSite/:id", {
                            templateUrl: "/App/Views/editOnlineJobSite.html"
                        })
                        .when("/editRegister/:id", {
                            templateUrl: "/App/Views/editRegister.html"
                        })
                        .when("/createRegister", {
                            templateUrl: "/App/Views/createRegister.html"
                        })
                        .otherwise({ redirectTo: '/home' });

                })
                .controller("outerCtrl", ($scope, ApiService, apiUrl, customUrl) => {
                    //////////////////////////////
                    $scope.erroMsg = null;
                    $scope.model = {};
                    $scope.currentPage = 1;
                    $scope.totalItems = 1;
                    ////////////////////////////////////
                    //evets
                    $scope.$on('serviceUpdated', (evt, data) => {
                        //console.log('Event');
                        //console.log(data.CompanyId);
                        //console.log('Service Id' + data.ServiceId);
                        angular.forEach($scope.model.onlineJobSites, function (v, k) {
                            if (v.onlineJobSite.OnlineJobSiteId == data.OnlineJobSiteId) {
                                angular.forEach(v.onlineJobSite.RegisterApplicants, function (v1, k1) {
                                    if (v1.RegisterApplicantId == data.RegisterApplicantId) {
                                        angular.copy(data, v1);
                                        console.log(v1);
                                    }
                                });
                            }
                        })
                    })
                    $scope.$on('serviceInserted', (evt, data) => {
                        //console.log('Event');
                        //console.log(data.CompanyId);
                        //console.log('Service Id' + data.ServiceId);
                        angular.forEach($scope.model.onlineJobSites, function (v, k) {
                            if (v.onlineJobSite.OnlineJobSiteId == data.OnlineJobSiteId) {
                                v.onlineJobSite.RegisterApplicants.push(data);
                            }
                        })
                    })
                    $scope.$on('companyInserted', (evt, data) => {
                        //console.log('Event');
                        //console.log(data.CompanyId);
                        //console.log('Service Id' + data.ServiceId);
                        $scope.model.onlineJobSites.push({ isExpanded: false, onlineJobSite: data });
                    })

                    $scope.companyToDelete = null;
                    ApiService.get(customUrl + "OnlineJobSites", null)
                        .then(r => {
                            $scope.model.onlineJobSites = [];
                            angular.forEach(r.data, (v, k) => {
                                $scope.model.onlineJobSites.push({ isExpanded: false, onlineJobSite: v });
                            });
                            //console.log($scope.model.companies);
                        }, err => {
                            console.log(err);
                        });
                    $scope.expandChild = (index) => {
                        console.log(index);
                        $scope.model.onlineJobSites[index].isExpanded = !$scope.model.onlineJobSites[index].isExpanded;
                    }
                    $scope.deleteCompany = (index) => {
                        $scope.companyToDelete = index;
                        $("#delCompanyModal").modal('show');
                    }
                    $scope.doDeleteCompany = () => {
                        var onlineJobSiteId = $scope.model.onlineJobSites[$scope.companyToDelete].onlineJobSite.OnlineJobSiteId;
                        ApiService.delete(apiUrl + "OnlineJobSites/" + onlineJobSiteId, null)
                            .then(r => {
                                $scope.model.onlineJobSites.splice($scope.companyToDelete, 1);
                                $("#delCompanyModal").modal('hide');
                            }, err => {
                                console.log(err);
                            });
                    }

                    $scope.serviceToDelete = null;
                    $scope.companySource = null;
                    $scope.delIndex = null;


                    //$scope.selectPage = function (pageNo) {
                    //    $scope.currentPage = pageNo;
                    //};
                    $scope.delCompanyService = (onlineJobSiteid, sid, index) => {
                        $scope.serviceToDelete = sid;
                        $scope.companySource = onlineJobSiteid;
                        $scope.delIndex = index;
                        console.log($scope.companySource);
                        $("#delServiceModal").modal('show');
                    }
                    $scope.doDeleteService = () => {
                        ApiService.delete(apiUrl + "RegisterApplicants/" + $scope.serviceToDelete, null)
                            .then(r => {
                                angular.forEach($scope.model.onlineJobSites, (v, k) => {

                                    if (v.onlineJobSite.OnlineJobSiteId == $scope.companySource) {

                                        v.onlineJobSite.RegisterApplicants.splice($scope.delIndex, 1);
                                    }
                                })
                                $scope.serviceToDelete = null;
                                $scope.companySource = null;
                                $scope.delIndex = null;

                                $("#delServiceModal").modal('hide');
                            }, err => { })
                    }

                });
        </script>

        <script src="~/App/Services/ApiService.js"></script>
        <script src="~/App/Controllers/registerController.js"></script>
        <script src="~/App/Controllers/createRegisterCtrl.js"></script>
        <script src="~/App/Controllers/createOnlineJobSiteCtrl.js"></script>
        <script src="~/App/Controllers/editOnlineJobSiteCtrl.js"></script>
        <script src="~/App/Filters/filters.js"></script>

        @*</section>*@
</body>
</html>
